@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.morebutton {
  cursor: pointer;
  border: 2px white solid;
  border-width: 2px;
  border-color: white;
  padding: 10px 20px;
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
  margin: 30px;
}
.morebutton:hover {
  background-color: white;
  color: black;
  transition-duration: 1s;
}
